In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({'column': ['4330--0.5-1-4', '5321-1.3-2-5', '6312--0.7-3-6']})
df[['tailsize', 'dist_mult', 'input_cluster', 'feature_cluster']] = df['column'].str.extract(r'(\d+)-(-?\d+.\d+)-(\d+)-(\d+)')
df

          column tailsize dist_mult input_cluster feature_cluster
0  4330--0.5-1-4     4330      -0.5             1               4
1   5321-1.3-2-5     5321       1.3             2               5
2  6312--0.7-3-6     6312      -0.7             3               6